/* src/components/BlogPost.css */

.blog-post-outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.blog-post-container {
  max-width: 800px;
  width: 100%;
  background-color: rgb(63, 168, 220);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: black;
}

.blog-post-title {
  font-size: 32px;
  margin-bottom: 10px;
  text-align: left;
}

.blog-post-author-date {
  margin-bottom: 20px;
  font-size: 16px;
  color: #000000;
  text-align: left;
}

.blog-post-thumbnail {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.blog-post-content-container {
  margin: 0 20px; /* Adding side margins to the content part */
}

.blog-post-content {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: left;
}

.blog-post-buttons {
  display: flex;
  justify-content: center;
}

.blog-post-buttons button,
.blog-post-buttons a {
  margin-right: 10px;
  padding: 10px 20px;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.blog-post-buttons .delete-post-button {
  background-color: #dc3545; /* Red color for delete button */
}

.blog-post-buttons .edit-post-link {
  background-color: #007bff;
}

.blog-post-buttons button:hover,
.blog-post-buttons a:hover {
  opacity: 0.8;
}
